@{


}
@{
    DBControl db = new DBControl();
    List<Student> students = db.GetStudents();
    <ul>
        @{
    for(int i = 0; i < students.Count;i++)
    {
      
              <li>@students[i].Name @students[i].LastName</li>
    }
        }
    </ul>

}
